@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.react-pdf__Page {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}
